server:
  port: 9080

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:

        - id: doctor-service
          uri: lb://doctor-service
          predicates:
            - Path=/api/doctor/**

        - id: patient-service
          uri: lb://patient-service
          predicates:
            - Path=/api/patient/**

        - id: appointment-service
          uri: lb://appointment-service
          predicates:
            - Path=/api/appointment/**
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
